body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(250, 250, 210);
  font-size: 1.1em;
}

#welcome {
  text-align: center;
  height: 800px;
  background-image: url("assets/sailboat.png");
  background-size: cover;
}
